@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 50px;
}

.carousel {
}

.adidas_1:hover {
  content: url("/img/adidas1_1.webp");
}
.nike_1:hover {
  content: url("/img/nike1_1.webp");
}
